name: CI

on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        cuda_version: ['12.0']
        python: ['3.9']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: GIT TAGS
      run: |
        git status
        git tag
        git --version



    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Set CUDA version for the runner
      run: |
        CUDA_HOME=/usr/local/cuda-${{ matrix.cuda_version }}
        echo CUDA_HOME=${CUDA_HOME} >> $GITHUB_ENV
        echo LD_LIBRARY_PATH=${CUDA_HOME}/lib64:${{ env.LD_LIBRARY_PATH }} >> $GITHUB_ENV
        echo PATH=${CUDA_HOME}/bin:${{ env.PATH }} >> $GITHUB_ENV

    - name: Check vars
      run: |
        echo $CUDA_HOME
        echo $LD_LIBRARY_PATH
        echo $PATH

    - name: Check vars 2
      run: |
        echo ${{ env.CUDA_HOME }}
        echo ${{ env.LD_LIBRARY_PATH }}
        echo ${{ env.PATH }}

    - name: python versions
      run: |
        python --version
        pip --version

    - name: Upgrade pip
      run: |
        python -m pip install -U pip
        pip --version
        pip install setuptools-git

    - name: Install the cupy wheel matching the CUDA version of the host
      run: |
        python tests/install_cupy.py

    - name: Install pybind11_cuda_array_interface for testing
      run: |
        pip install .[test]

    - name: Run Pytest
      run: |
        pytest

    - name: Run GoogleTest
      run: |
        tests/gtest/run_gtest_cai