name: Linting



on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:



jobs:
  linting:
    name: Run linting tools
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Create Python venv
      run: |
        python -m venv venv

    - name: Upgrade pip
      run: |
        source venv/bin/activate
        python -m pip install -U pip>=22.3

    - name: Install dependencies for linting
      run: |
        source venv/bin/activate
        python -m pip install toml
        python linting/install_linters.py

    - name: Run black
      run: |
        source venv/bin/activate
        python -m black . --check

    - name: Run isort
      run: |
        source venv/bin/activate
        python -m isort . --check-only

    - name: Run mypy
      run: |
        source venv/bin/activate
        python -m mypy --no-incremental

    - name: Run flake8
      run: |
        source venv/bin/activate
        python -m flake8

    - name: Run pylint
      run: |
          source venv/bin/activate
          find . \
          \( \
              -name '.git' \
              -o -name '__pycache__' \
              -o -name 'thirdparty' \
              -o -name 'build' \
              -o -name '.env' \
              -o -name '.github' \
              -o -name 'dist' \
              -o -name '.eggs' \
              -o -name '*.egg' \
              -o -name '_skbuild' \
              -o -name 'venv' \
          \) \
          -prune -o -name '*.py' | xargs python -m pylint
